@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Узнать больше о <a href="https://www.gstu.by/">ГГТУ им.П.О.Сухого</a>.</p>
</div>
